# python
__pycache__/
*.pyc

# jupyter
.ipynb_checkpoints/

# Log files
logs/
*.log

# Data directories
datasets/news-category-dataset.zip
datasets/News_Category_Dataset_v3.json
datasets/news_category_dataset.json

# Environments
.env

# Temporary files
*.tmp
*.temp

# VS code
.vscode/

# pytest
.pytest_cache